@import "../../styles/colors.css"; /* Import the color variables */

/* Styling for the button link */
.button-link {
  text-decoration: none;
}

.button-link .MuiButton-outlined {
  border-color: var(--primary-color); /* Crisp White */
  color: var(--primary-color); /* Crisp White */
}

.button-link .MuiButton-contained {
  background-color: var(--primary-color); /* Crisp White */
  color: var(--secondary-color); /* Deep Charcoal */
}

.button-link .MuiButton-text {
  color: var(--primary-color); /* Crisp White */
}

.button-link .MuiButton-contained:hover {
  background-color: var(--accent-color); /* Cool Gray */
}
