:root {
  --primary-color: #FFFFFF; /* Crisp White */
  --secondary-color: #333333; /* Deep Charcoal */
  --accent-color: #AAAAAA; /* Cool Gray */
  --background-color: #04111E; /* Off-White */
  --card-background-color: #EDEDED; /* Light Gray */
  --border-color: #AAAAAA; /* Cool Gray */
  --text-primary-color: #fff; /* Charcoal */
  --text-secondary-color: #fff; /* Medium Gray */
  --highlight-color: #DDDDDD; /* Soft Blue */
}
