@import "../../styles/colors.css"; /* Import the global color variables */

.projects {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.projects h1 {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  text-decoration: underline;
  color: var(--text-primary-color); /* Charcoal */
}

.projects__wrapper {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* Project Item (Card) */
.projects__item {
  width: 550px;
  height: 500px;
  background-color: var(--card-background-color); /* Light Gray */
  border-radius: 15px;
  font-size: 1rem;
}

/* Project Content */
.project__content {
  height: 200px;
  padding: 25px;
  box-sizing: border-box;
  font-size: 1rem;
  color: #333;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project__title {
  font-size: 26px;
  font-weight: 500;
}

.project__description {
  font-size: 20px;
  font-weight: 500;
  text-align: justify;
}
